/* HEADER, JL IMAGE AND BACKGROUND COLOR*/

html {
  background: #c3c3c3;
  
}

header{
  display: inline-block;
  margin-top: 1%;
  padding: 5px;
  position: relative;
  background: #c3c3c3;
} 

.jlimg {  
  width:100%;
  height: auto;

}  

/* SUPERHERO BOX AND EVERYTHING RELATED*/

.box {
  width: 280px;
  float:left;
  margin:1% 1%;
  text-align: center;
  border-radius: 4%;
  padding: 10px;
}

.box .upper__side{
  border-radius: 10px 10px 0px 0px;
  border: solid black;
  
}

.box img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
  margin: auto;
  display: block;
}

.box .lower__side {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 90px;
  text-align: center;
  padding-bottom: 40px;
  border: solid 3px black;
}

.box .lower__side h4 {
  font-size: 22px;
  font-weight: bold;

}

.box .lower__side h5 {
  font-size: 18px;
}

/*COLORS HEROS*/

.upper__sm {
  background-color:  #ff0000;
  border-radius: 10px 10px 0px 0px;
}
.lower__sm
{
  background-color:  #4340eb;
}


.upper__ww {
  background-color:  #fcce00;
  border-radius: 10px 10px 0px 0px;
}
.lower__ww
{
  background-color:  #f74141;
}


.upper__bt {
  background-color:  #2b2929;
  border-radius: 10px 10px 0px 0px;
}
.lower__bt
{
  background-color:  #dbdbdb;
}


.upper__fs {
  background-color:  #ff0000;
  border-radius: 10px 10px 0px 0px;
}
.lower__fs
{
  background-color:  #fae630;
}


.upper__gl {
  background-color:  #258022;
  border-radius: 10px 10px 0px 0px;
}
.lower__gl
{
  background-color:  #7aeba5;
}



.upper__hg {
  background-color:  #ff9100;
  border-radius: 10px 10px 0px 0px;
}
.lower__hg
{
  background-color:  #474645;
}

/* BUTTONS */

.button-7 {
  background-color: #009B77;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
  cursor:pointer;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

