main {
  background: #c3c3c3;
  padding: 50px;
}

.hero{
  padding: 25px;
  background-color: #8a8a8a;
  margin: 30px;
  border-radius: 25px;
  width: 690px;
  margin: auto;
}

.container{
  display: grid; 
  justify-content: center;
  align-items:center;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 100%; 
  width: 100px; 

}

.img{
  width: 100%;
  margin: auto;
  
}

.p{
  font-size: 1.5rem;
  margin-right: 5%;
  color: white;
  
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

strong
{
  color: rgb(70, 99, 99);
  
}

